.header {
    &__item {
        display: flex;
        color: $primary-color;
        position: relative;
        border: 1px solid transparent;
        justify-content: center;
        align-items: center;
        gap: 24px;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 12px 0px;
        margin: 24px 0px;
        list-style: none;
        border-radius: 8px;
        width: 200px;
        transition: ease .2s all;
        cursor: pointer;

    }
}
