.header{

    &__item{
        display: flex;
        color: $primary-color;
        position: relative;
        border: 1px solid transparent;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 12px 0px;
        margin: 24px 0px;
        list-style: none;
        border-radius: 8px;
        width: 200px;
        cursor: pointer;

        &:hover{
            &::after{
                transform: translateX(40%);
                visibility: visible;
            }
        }

        &::after{
            content: "";
            visibility: hidden;
            position: absolute;
            border-radius: 3px;
            height: 3px;
            width: 80%;
            background-color: $primary-color;
            bottom: 0%;
            left: -20%;
            transition: .2s ease transform;
        }
    }
}