.button{
    border: 1px solid $primary-color;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
    gap:16px;
    margin: 8px 0px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: ease .2s all;
    box-shadow: 0px 5px 10px #c4c4c4;


    &--primary{
        color: white;
        background-color: $primary-color;
    }

    &:hover{
        box-shadow: none;
    }

    i{
        font-size: 24px;
    }
}
