.button{
    border: 1px solid #20AB3E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 350px;
    gap:16px;
    margin: 8px 0px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: ease .2s all;
    box-shadow: 0px 5px 10px #c4c4c4;
}

.button:hover{ 
    box-shadow: none;
}

.button i {
    font-size: 24px;
}