.dashboard {
    display: grid;
    grid-template-rows: 27vh 27vh 27vh;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    &__card {
        display: flex;
        justify-content: center;
        gap: 80px;
        grid-column: 1/4;
    }
}

.investiment {
    &__title {
        font-weight: lighter;
    }
}

@media all and (max-width: 1024px) {
    .dashboard {
        &__message {
            grid-column: 2/3;
        }
        &__card {
            justify-self: center;
            grid-column: 2/3;
            grid-row: 2/5;
            flex-direction: column;
        }
    }
}

@media all and (max-width: 768px){
    .dashboard{
        padding: 80px 0px;

        &__card{
            gap: 80px;
            grid-row-start: 1;
            grid-column: 2/3;
        }
    }
}
