.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-color;
    padding: 0px 160px;
    height: 85vh;
    width: 100%;

    &__page {
        border-radius: 8px;
        width: 100%;
    
        &--flex {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          flex-wrap: wrap;
          padding: 2rem;
        }
    
        &--grid {
          display: grid;
          grid-template-rows: 20vh 20vh 20vh;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
}