.header {
    display: flex;
    background-color: white;
    border-bottom: 1px solid #c4c4c4;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    padding: 0px 160px;

    &__section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
    }

    &__logo {
        display: flex;
        justify-content: start;
        width: 30vw;
    }

    &__logo--primary {
        background-color: $primary-color;
        height: 48px;
        width: 48px;
        border-radius: 50%;
    }

    &__menu {
        width: 60vw;
    }

    &__profile {
        display: flex;
        justify-content: flex-end;
        width: 30vw;
    }

    &__span {
        cursor: default;
        transition: 0.2s ease all;
        padding: 16px;
    }
}

.signup {
    display: flex;

    &__login:hover {
        background-color: $primary-color;
        color: white;
    }
    &__register {
        &:hover {
            color: $primary-color;
        }
    }
}
