.header {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100vw;
    padding: 0px 160px;

    &__section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
    }

    &__logo {
        display: flex;
        justify-content: start;
        width: 30vw;
    }

    &__logo--primary {
        background-color: $primary-color;
        height: 48px;
        width: 48px;
        border-radius: 50%;
    }

    &__side {
        height: 100%;
        width: 100%;

        .header__list {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    &__menu {
        width: 60vw;
    }

    &__profile {
        display: flex;
        justify-content: end;
        width: 30vw;

        span{
            font-size: 1.1rem;
            text-align: center;
        }
    }

    &__span {
        cursor: default;
        transition: 0.2s ease all;
    }
}

.sideMenu {
    display: none;

    &__close {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #d32424;
        position: absolute;
        font-size: 2rem;
        padding: 8px;
        top: 10%;
        right: 10%;
        border-radius: 8px;
        transition: 0.2s;

        &:hover {
            font-size: 2.2rem;
        }

        &__list {
            display: block;
        }
    }

    &__svg {
        cursor: pointer;
        &:hover {
            width: 48px;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        position: absolute;
        top: -100%;
        left: 0%;
        height: 80vh;
        width: 100vw;
        background-color: white;
        transition: 0.5s ease all;
        z-index: 2;
        &--active {
            transform: translateY(120%);
        }

        &--disabled {
            display: block;
        }
    }
}

.signup {
    display: flex;

    &__login:hover {
        background-color: $primary-color;
        color: white;
    }
    &__register {
        &:hover {
            color: $primary-color;
        }
    }
}

@media all and (max-width: 1024px) {
    .header {
        padding: 0%;
    }
}

@media all and (max-width: 968px) {
    .header {
        &__main {
            display: none;
        }

        &__profile {
            display: none;
        }

        &__logo {
            justify-content: center;
            width: 100%;
        }
    }

    .sideMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
