.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #c4c4c4;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  width: 100vw;
  padding: 0px 160px;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
}

.header__logo--primary {
  background-color: #20ab3e;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.header__side {
  height: 100%;
  width: 100%;
}

.header__side .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu {
  width: 60vw;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
}

.header__span {
  cursor: default;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.sideMenu {
  display: none;
}

.sideMenu__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #d32424;
  position: absolute;
  font-size: 2rem;
  padding: 8px;
  top: 10%;
  right: 10%;
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sideMenu__close:hover {
  font-size: 2.2rem;
}

.sideMenu__close__list {
  display: block;
}

.sideMenu__svg {
  cursor: pointer;
}

.sideMenu__svg:hover {
  width: 48px;
}

.sideMenu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -100%;
  left: 0%;
  height: 80vh;
  width: 100vw;
  background-color: white;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.sideMenu__header--active {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}

.sideMenu__header--disabled {
  display: block;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup__login:hover {
  background-color: #20ab3e;
  color: white;
}

.signup__register:hover {
  color: #20ab3e;
}

@media all and (max-width: 1024px) {
  .header {
    padding: 0%;
  }
}

@media all and (max-width: 968px) {
  .header__main {
    display: none;
  }
  .header__profile {
    display: none;
  }
  .header__logo {
    width: 100%;
  }
  .sideMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #20ab3e;
  position: relative;
  border: 1px solid transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 12px 0px;
  margin: 24px 0px;
  list-style: none;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
}

.header__item:hover::after {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  visibility: visible;
}

.header__item::after {
  content: "";
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  height: 3px;
  width: 80%;
  background-color: #20ab3e;
  bottom: 0%;
  left: -20%;
  -webkit-transition: .2s ease transform;
  transition: .2s ease transform;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: 100%;
}

.card {
  border-radius: 8px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  padding: 32px;
  -webkit-box-shadow: 0px 16px 24px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 24px 0 rgba(0, 0, 0, 0.25);
}

.card__title {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 8px 0px;
  text-align: start;
  width: 100%;
}

.card__type {
  color: #20ab3e;
}

.card__describe {
  margin-bottom: 8px;
  font-weight: lighter;
  font-size: 1rem;
  width: 100%;
}

.button {
  border: none;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 100%;
  gap: 16px;
  margin: 8px 0px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: ease 200ms all;
  transition: ease 200ms all;
  -webkit-box-shadow: 0px 5px 24px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 24px 0 rgba(0, 0, 0, 0.25);
}

.button--primary {
  color: white;
  background-color: #20ab3e;
}

.button:hover {
  background-color: #39c958;
}

.button i {
  font-size: 24px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8FAFB;
  padding: 80px 160px;
  width: 100%;
  min-height: 85vh;
}

.container__page {
  border-radius: 8px;
  width: 100%;
}

.container__page--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 160px;
  padding: 2rem;
}

.container__page--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh 20vh 20vh;
      grid-template-rows: 20vh 20vh 20vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media all and (max-width: 1024px) {
  .container {
    padding: 0%;
  }
  .container__page {
    padding: 80px 0 0 0;
  }
  .container__page--flex {
    gap: 80px;
  }
}

.input {
  caret-color: #20AB3E;
  width: 100%;
  height: 48px;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
  outline: none;
  padding: 8px;
  font-size: .9em;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 1em;
}

.input:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 1em;
}

.input::-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 1em;
}

.input::placeholder {
  color: #c4c4c4;
  font-size: 1em;
}

.input::-moz-selection {
  background-color: #56c76e;
}

.input::selection {
  background-color: #56c76e;
}

.input:focus {
  border: 2px solid #20AB3E;
}

.section__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  height: 400px;
  text-align: center;
  overflow-x: scroll;
}

.section__title {
  font-size: 1.5rem;
  font-weight: normal;
  height: 5vh;
}

.section__span--highlight {
  color: #20ab3e;
}

.table {
  max-width: 600px;
  max-height: 400px;
  overflow-x: scroll;
  border-collapse: collapse;
}

.table__line {
  position: relative;
}

.table__line--pair {
  background-color: #eeeeee;
}

.table__line--odd {
  background-color: #cdf7c2;
}

.table__header {
  background-color: #20ab3e;
  color: white;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

.table__data {
  text-align: center;
  padding: 16px;
  font-size: 1rem;
  min-width: 100%;
}

.table__data--delete {
  color: #eeeeee;
  background-color: #d32424;
}

.table__data--delete:hover {
  background-color: #df4f4f;
}

.tbody__data {
  font-weight: lighter;
  min-height: 20px;
}

@media all and (max-width: 1024px) {
  .section__table {
    width: 100%;
  }
  .table__data {
    padding: 8px;
    min-width: 100%;
  }
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 27vh 27vh 27vh;
      grid-template-rows: 27vh 27vh 27vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0px;
}

.dashboard__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.dashboard__message {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 16px;
}

.investiment__title {
  font-weight: lighter;
}

@media all and (max-width: 1024px) {
  .dashboard__message {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .dashboard__card {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.message {
  color: #333333;
  border-radius: 8px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  -webkit-box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.25);
}

.message__username {
  color: #20ab3e;
}

.infoCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  height: 152px;
  width: 200px;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.25);
  padding: 0px 16px;
}

.infoCard__img {
  background: -webkit-gradient(linear, left top, left bottom, from(#22B04A), to(#1E9540));
  background: linear-gradient(180deg, #22B04A 0%, #1E9540 100%);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.infoCard__logo {
  color: white;
}

.infoCard__value {
  font-weight: bolder;
  color: #696969;
  font-size: 1.4rem;
}

.infoCard__describe {
  font-weight: lighter;
}

.steper {
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  height: 25vh;
  width: 25vw;
}

.steper__step {
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 100%;
}

.steper__step--active {
  color: white;
  background-color: #20ab3e;
}

.steper__number {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.steper__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .2em;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  font-weight: lighter;
}

.steper__name {
  font-size: 1rem;
}

.steper__description {
  color: inherit;
  font-size: .8rem;
}

.number__background {
  border-radius: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  padding: 12px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  background-color: #F8FAFB;
  font-family: "Rubik", sans-serif;
}

.primaryText {
  color: #20ab3e;
}

.disabled {
  background-color: none;
  color: #c4c4c4;
}
/*# sourceMappingURL=index.css.map */