.section {
    &__table {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        height: 400px;
        text-align: center;
    }

    &__title {
        font-weight: normal;
        height: 5vh;
    }

    &__span--highlight {
        color: $primary-color;
    }
}

.table {
    display: block;
    max-width: 600px;
    max-height: 400px;
    overflow: auto;

    &__line {
        &--pair {
            background-color: #eeeeee;
        }

        &--odd {
            background-color: #cdf7c2;
        }
    }

    &__header {
        background-color: $primary-color;
        color: white;
        font-size: 1.2rem;
        position: sticky;
        top: 0%;
    }

    &__data {
        text-align: center;
        padding: 8px;
        min-width: calc(390px / 3);
        font-size: 0.8rem;
    }

    &__button--delete {
        position: absolute;
        display: block;
        visibility: visible;
        border: none;
        border-radius: 5px;
        color: #eeeeee;
        padding: 8px;
        background-color: #d32424;

        &:hover {
            background-color: #df4f4f;
        }
    }
}

.tbody {
    &__data {
        font-weight: lighter;
        height: 20px;
    }
}
