.section {
    &__table {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        height: 400px;
        text-align: center;
        overflow-x: scroll;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: normal;
        height: 5vh;
    }

    &__span--highlight {
        color: $primary-color;
    }
}

.table {
    max-width: 600px;
    max-height: 400px;
    overflow-x: scroll;
    border-collapse: collapse;

    &__line {
        position: relative;
        &--pair {
            background-color: #eeeeee;
        }

        &--odd {
            background-color: #cdf7c2;
        }
    }

    &__header {
        background-color: $primary-color;
        color: white;
        font-size: 1.2rem;
        position: sticky;
        top: 0%;
    }

    &__data {
        text-align: center;
        padding: 16px;
        font-size: 1rem;
        min-width: 100%;
    }

    &__data--delete {
        color: #eeeeee;
        background-color: #d32424;

        &:hover {
            background-color: #df4f4f;
        }
    }
}

.tbody {
    &__data {
        font-weight: lighter;
        min-height: 20px;
    }
}

@media all and (max-width:1024px){

    .section{
        &__table{
            width: 100%;
        }
    }
    .table{
        &__data{
            padding: 8px;
            min-width: 100%;
        }
    }

}