.divTable{
    width: 30vw;
    height: 70vh;
    text-align: center;
}

.tableTitle{
    height: 5vh;
}
.tablePage{
    display: block;
    width: 30vw;
    max-height: 65vh;
    overflow: auto;
}

.tableData{
    text-align: center;
    padding: 10px;
    min-width: 9.5vw;
}

.tableBodyData{
    height: 20px;
}

.tableButtonDelete{
    position: absolute;
    display: block;
    visibility: visible;
    border: none;
    border-radius: 5px;
    color: #eeeeee;
    padding: 10px;
    background-color: #d32424;
}
.tableButtonDelete:hover{
    background-color: #df4f4f;
}

.tableDataHeader{
    font-weight: bold;
    background-color: #20AB3E;
    color: white;
    font-size: 1.2;
    position: sticky;
    top: 0%;
}
.selected{
    background-color: white;
}

