.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #c4c4c4;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  width: 100%;
  padding: 0px 160px;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 30vw;
}

.header__logo--primary {
  background-color: #20ab3e;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.header__menu {
  width: 60vw;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30vw;
}

.header__span {
  cursor: default;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  padding: 16px;
}

.header__login:hover {
  background-color: #20ab3e;
  color: white;
}

.header__signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #20ab3e;
  position: relative;
  border: 1px solid transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 12px 0px;
  margin: 24px 0px;
  list-style: none;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
}

.header__item:hover::after {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  visibility: visible;
}

.header__item::after {
  content: "";
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  height: 3px;
  width: 80%;
  background-color: #20ab3e;
  bottom: 0%;
  left: -20%;
  -webkit-transition: .2s ease transform;
  transition: .2s ease transform;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: 100%;
}

.card {
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  padding: 32px;
}

.card__title {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 8px 0px;
  text-align: start;
  width: 100%;
}

.card__type {
  color: #20ab3e;
}

.card__describe {
  margin-bottom: 8px;
  font-weight: lighter;
  font-size: 1rem;
  width: 100%;
}

.button {
  border: 1px solid #20ab3e;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 100%;
  gap: 16px;
  margin: 8px 0px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: ease .2s all;
  transition: ease .2s all;
  -webkit-box-shadow: 0px 5px 10px #c4c4c4;
          box-shadow: 0px 5px 10px #c4c4c4;
}

.button--primary {
  color: white;
  background-color: #20ab3e;
}

.button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button i {
  font-size: 24px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8FAFB;
  padding: 0px 160px;
  height: 85vh;
  width: 100%;
}

.container__page {
  background-color: #F8FAFB;
  width: 100%;
}

.container__page--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

.container__page--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh 20vh 20vh;
      grid-template-rows: 20vh 20vh 20vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.input {
  caret-color: #20AB3E;
  width: 100%;
  height: 48px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  outline: none;
  padding: 8px;
  font-size: 1rem;
}

.input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 1rem;
}

.input:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 1rem;
}

.input::-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 1rem;
}

.input::placeholder {
  color: #c4c4c4;
  font-size: 1rem;
}

.input::-moz-selection {
  background-color: #56c76e;
}

.input::selection {
  background-color: #56c76e;
}

.section__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  height: 400px;
  text-align: center;
}

.section__title {
  font-weight: normal;
  height: 5vh;
}

.section__span--highlight {
  color: #20ab3e;
}

.table {
  display: block;
  max-width: 600px;
  max-height: 400px;
  overflow: auto;
}

.table__line--pair {
  background-color: #eeeeee;
}

.table__line--odd {
  background-color: #cdf7c2;
}

.table__header {
  background-color: #20ab3e;
  color: white;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

.table__data {
  text-align: center;
  padding: 8px;
  min-width: calc(390px / 3);
  font-size: 0.8rem;
}

.table__button--delete {
  position: absolute;
  display: block;
  visibility: visible;
  border: none;
  border-radius: 5px;
  color: #eeeeee;
  padding: 8px;
  background-color: #d32424;
}

.table__button--delete:hover {
  background-color: #df4f4f;
}

.tbody__data {
  font-weight: lighter;
  height: 20px;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 27vh 27vh 27vh;
      grid-template-rows: 27vh 27vh 27vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__message {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 16px;
}

.investiment__title {
  font-weight: lighter;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
}

.message__username {
  color: #20ab3e;
}

.infoCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  height: 152px;
  width: 200px;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.25);
  padding: 0px 16px;
}

.infoCard__img {
  background: -webkit-gradient(linear, left top, left bottom, from(#22B04A), to(#1E9540));
  background: linear-gradient(180deg, #22B04A 0%, #1E9540 100%);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.infoCard__logo {
  color: white;
}

.infoCard__value {
  font-weight: bolder;
  color: #696969;
  font-size: 1.4rem;
}

.infoCard__describe {
  font-weight: lighter;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #F8FAFB;
}

.primaryText {
  color: #20ab3e;
}

.disabled {
  background-color: none;
  color: #c4c4c4;
}
/*# sourceMappingURL=index.css.map */