$background-color: #F8FAFB;
$grey-soft: #696969;
$primary-color: #20ab3e;
$primary-color-hover: rgb(57, 201, 88);
$second-color: #AB650F;
$disabled: #c4c4c4;
$linear-green: linear-gradient(180deg, #22B04A 0%, #1E9540 100%);
@import "./components/Header/header";
@import "./components/Header/Menu/headerMenu";
@import "./components/Header/Menu/Item/menuItem";
@import "./components/Form/form";
@import "./components/Card/card";
@import "./components/Button/button";
@import "./components/Container/container";
@import "./components/Input/input";
@import "./components/Table/table";
@import "./Pages/Dashboard/dashboard";
@import "./Pages/Signup/signup";
@import "./components/Card-Message/message";
@import "./components/Info-Card/infoCard";
@import "./components/Steper/steper";


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,body{
  height: 100%;
  overflow-x: hidden;
  background-color: $background-color;
  font-family: "Rubik", sans-serif;
}

.primaryText {
  color: $primary-color;
}

.disabled {
  background-color: none;
  color: $disabled;
}
